*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
}

.container{
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}

@media screen and (min-width: 640px) {
    .container {
        justify-content: center;
        padding: 0px;
    }
}

.logo{
    position: relative;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
}

.logo .logolink{
    text-decoration: none;
    display: flex;
    text-align: center;
    width: 64px;
    height: 64px;
    color: #000;
    font-size: 27px;
    border: 3px solid;
}

.logo h1{
    position: absolute;
    height: 64px;
    width: 64px;
    font-weight: 600;
    bottom: 5px;
}

@media screen and (min-width: 640px) {
    .card {
        max-width: 448px;
    }
}

.card{
    margin-top: 24px;
    width: 100%;
    padding: 1.5rem;
    border: 1px solid #868686;
    border-radius: 15px;
    overflow: hidden;
}

.form{
    height: 239.2px;
}

p{
    font-size: 14px;
    font-weight: 600;
    height: 20px;
}

.username{
    padding: 10px;
    margin-top: 4px;
    height: 41.6px;
    border: 1px solid #868686;
    border-radius: 8px;
    width: 100%;
}

.passwordcontainer{
    margin-top: 16px;
}

.password{
    padding: 10px;
    margin-top: 4px;
    height: 41.6px;
    border: 1px solid #868686;
    border-radius: 8px;
    width: 100%;
}

.remcontainer{
    margin-top: 16px;
    height: 20px;
}

.rememberme{
    height: 16px;
    width: 16px;
    appearance: none;
    border: 1px solid #454545;
    border-radius: 4px;
    position: relative;
}

label{
    font-size: 13px;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    position: relative;
    margin-left: 8px;
    color: #454545;
    bottom: 2px;
}

.rememberme::after{
    content: '\f00c';
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    font-weight: 900;
    position: relative;
    left: 3px;
    bottom: 3px;
    color: #fff;
    visibility: hidden;
}

.bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    height: 40px;
}

.forgot{
    font-family: "Roboto Mono", monospace;
    color: #454545;
    font-size: 13px;
    font-weight: 400;
}

.login{
    height: 40px;
    width: 75px;
    border-radius: .375rem;
    background-color: #171717;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    transition: 0.15s;
}

.or{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    height: 24px;
    flex-direction: column;
}

.or p{
    font-family: "Roboto Mono", monospace;
    color: #454545;
    font-weight: 400;
    font-size: 14px;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.discord{
    position: relative;
    height: 28px;
    font-size: 28px;
}

.discord i{
    position: relative;
    bottom: 5px;
    color: #5865f2;
}

.forgot:hover{
    color: #000;
}

.login:hover{
    background-color: #404040;
}

.rememberme:checked{
    background: #4f4f4f;
}

.rememberme:checked::after{
    visibility: visible;
}
