*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    display: inline-block;
    position: relative;
    text-align: center;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    justify-content: center;
}

@media screen and (min-width: 0px) {
    .container {
        padding-left: 24px;
        padding-right: 24px;
        max-width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        padding-left: 0;
        padding-right: 0;
        max-width: 1152px;
    }
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.header{
    padding: 24px 0px;
    overflow: hidden;
}

.header h1{
    font-size: 36px;
    position: relative;
    color: var(--secondary-color);
    height: 48px;
    font-weight: 800;
    line-height: 48px;
}

@media screen and (min-width: 640px){
    .header h1{
        font-size: 48px;
    }
}

.header p{
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;
    color: var(--secondary-color);
}

@media screen and (min-width: 0px) {
    .grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media screen and (min-width: 640px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}


@media screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.grid{
    padding: 24px 0px;
    display: grid;
    max-width: 100%;
    gap: 24px;
}

.subscriptions{
    position: relative;
    padding: 12px;
    text-decoration: none;
    color: var(--secondary-color);
    overflow: hidden;
    border: 1px solid;
    border-color: rgba(104, 104, 104, 0.392);
    transition: 0.5s;
}

.names{
    padding: 8px;
}

.names h3{
    font-size: 18px;
    font-weight: 600;
}

.text{
    min-height: 56px;
    padding: 8px;
}

.text p{
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.purchase{
    padding: 8px 16px;
    font-weight: 600;
    font-size: 19px;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.stick1{
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s;
    background-color: rgb(246, 82, 82);
}

.stick2{
    position: absolute;
    width: 2px;
    left: 0px;
    bottom: 0px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: 0.3s;
    background-color: rgb(246, 82, 82);
}

.stick3{
    position: absolute;
    width: 2px;
    right: 0px;
    top: 0px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    background-color: rgb(246, 82, 82);
}

.stick4{
    position: absolute;
    width: 100%;
    right: 0px;
    top: 0px;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.3s;
    background-color: rgb(246, 82, 82);
}

.subscriptions:hover > .stick1{
    transform: scaleX(1);
}

.subscriptions:hover > .stick2{
    transform: scaleY(1);
}

.subscriptions:hover > .stick3{
    transform: scaleY(1);
}

.subscriptions:hover > .stick4{
    transform: scalex(1);
}

.subscriptions:hover{
    transform: scale(1.05);
}